# Ambiente virtual
venv/
.venv/
env/

# Credenciais e configuração local
.env
.env.example
cookies.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# IDEs
.vscode/
.idea/
*.suo
*.user

# MongoDB local
data/

# Logs
*.log
NOTAS TODO.txt
backup_20260411_105604/licitacoes_websocket_signalr.json
backup_20260411_113940/historico_precos.json
backup_20260411_113940/leiloes.json
backup_20260411_113940/licitacoes_websocket_signalr copy.json
backup_20260411_113940/licitacoes_websocket_signalr.json
backup_20260411_113940/veiculos.json
